@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* BRAND COLOURS 
#E9757A
#79C098
#233851 */
