.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 5fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-right: 20px;
}

.home {
  grid-area: 1 / 4 / 2 / 5;
}

.contact {
  grid-area: 1 / 5 / 2 / 6;
}

.mainContent {
  grid-area: 3 / 3 / 4 / 4;
}

.infoBar {
  grid-area: 5 / 1 / 6 / 6;
  background-color: #e8461c;
  width: 100vw;
}
