.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 5fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mainContent {
  grid-area: 3 / 3 / 4 / 4;
}
