html {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Blockers Stamp";
  src: url("../public/fonts/Blockers-Stamp.otf");
}

body {
  font-family: -apple-system, "Blockers Stamp", Roboto, Helvetica Neue,
    sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* brand colours
#E8461C
#E58E08
#EC9C95
#E4CEAE
#FBDBC9 */
