html {
  /* background: url("../public/BackgroundMain.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  scroll-behavior: smooth;
  overflow: hidden;
}

@font-face {
  font-family: "Blockers Stamp";
  src: url("/fonts/Blockers-Stamp.otf");
}

body {
  font-family: -apple-system, "Blockers Stamp", Roboto, Helvetica Neue,
    sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 10px;
}

.buttons {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  z-index: 1;
}

.mainContent {
  grid-area: 2 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBar {
  grid-area: 5 / 1 / 6 / 4;
  background-color: #e8461c;
  width: 100vw;
  max-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.contactContainer {
  height: 130vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 3fr) 2fr repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) 3fr 7fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.aboutText {
  grid-area: 2 / 3 / 4 / 7;
  text-align: center;
  margin-top: 3px;
}

.soapImage {
  grid-area: 4 / 4 / 5 / 6;
}

.form {
  grid-area: 5 / 3 / 6 / 7;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.styledImage {
  max-width: 100%;
  max-height: 100%;
}

.styledAnchor {
  height: 80%;
  color: white;
  font-size: 4vw;
  margin-right: 3vw;
  cursor: pointer;
  padding-top: 2px;
  margin-left: 3vw;
}

.textWrapper {
  display: flex;
  color: white;
  font-size: 5vw;
  z-index: 100;
}


/* brand colours
#E8461C
#E58E08
#EC9C95
#E4CEAE
#FBDBC9 */
